
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <!-- Built-in structural directives
    Define a block of HTML that determines how Angular renders a single item.
    Use the NgFor directive to present a list of items. -->
    <app-recipe-item 
      *ngFor="let recipeElement of recipes"
      [recipe]="recipeElement"
      (recipeSelected)="onRecipeSelected(recipeElement)"
      ></app-recipe-item>
      <!-- Property binding moves a value in one direction, from a component's property into a target element property -->
      <!-- To bind to an element's property, enclose it in square brackets, [], which identifies the property as a target property.  -->
  </div>
</div>

